body{

    margin: 0;
    font-family: sans-serif;

}

.clearfix {
    overflow: auto;

}

.container {
    display: block;
    width: 1024px;
    margin: 0 auto;
    background: url("http://demo.web3canvas.com/themeforest/proland/images/header-background.jpg");

}
.header {
    height: 60px;
}
.header-logo {
    display: block;
    float: left;
}



ul.header-nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.header-nav > li {
    display: inline-block;
}
ul.header-nav > li > a {
    display: inline-block;
    padding: 19px 10px;
    color: #8f969d;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
ul.header-nav > li > a:hover {
    background-color: red;
}

.buy-it-now {
    border-radius: 30px;
    background-color: orange;
}
.top-banner {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 190px 0;
    background-image: url("http://demo.web3canvas.com/themeforest/proland/images/header-background.jpg");
    background-size: contain;


}
.watch {

    background-image: url("http://demo.web3canvas.com/themeforest/proland/images/apple-watch.png");

}
.text-centre {
    text-align: center;
}
h2 {
    margin: 0px 0px 20px 0px;

}
p {
    margin: 0px 180px 40px 180px;
    font-size: 24px;

}
div > a {


    display: inline-block;

    background-color: deepskyblue;
    border-radius: 30px;
    font: 500 27px/72px "poppins",sanse-serif;
    margin: 0 470px 77px 470px;
    padding: 0 85px;
    text-decoration: none;

}
div > a:hover {
    background-color: black;
}
