


@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400/open-sans-400.eot');
    src: url('../fonts/open-sans/400/open-sans-400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/400/open-sans-400.woff2') format('woff2'),
    url('../fonts/open-sans/400/open-sans-400.woff') format('woff'),
    url('../fonts/open-sans/400/open-sans-400.ttf') format('truetype'),
    url('../fonts/open-sans/400/open-sans-400.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700/open-sans-700.eot');
    src: url('../fonts/open-sans/700/open-sans-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/700/open-sans-700.woff2') format('woff2'),
    url('../fonts/open-sans/700/open-sans-700.woff') format('woff'),
    url('../fonts/open-sans/700/open-sans-700.ttf') format('truetype'),
    url('../fonts/open-sans/700/open-sans-700.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot');
    src: url('../fonts/open-sans/700-italic/open-sans-700-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.woff2') format('woff2'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.woff') format('woff'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.ttf') format('truetype'),
    url('../fonts/open-sans/700-italic/open-sans-700-italic.svg#OpenSans') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot');
    src: url('../fonts/open-sans/800-italic/open-sans-800-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.woff2') format('woff2'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.woff') format('woff'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.ttf') format('truetype'),
    url('../fonts/open-sans/800-italic/open-sans-800-italic.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/800/open-sans-800.eot');
    src: url('../fonts/open-sans/800/open-sans-800.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/800/open-sans-800.woff2') format('woff2'),
    url('../fonts/open-sans/800/open-sans-800.woff') format('woff'),
    url('../fonts/open-sans/800/open-sans-800.ttf') format('truetype'),
    url('../fonts/open-sans/800/open-sans-800.svg#OpenSans') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot');
    src: url('../fonts/open-sans/300-italic/open-sans-300-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.woff2') format('woff2'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.woff') format('woff'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.ttf') format('truetype'),
    url('../fonts/open-sans/300-italic/open-sans-300-italic.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/300/open-sans-300.eot');
    src: url('../fonts/open-sans/300/open-sans-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/300/open-sans-300.woff2') format('woff2'),
    url('../fonts/open-sans/300/open-sans-300.woff') format('woff'),
    url('../fonts/open-sans/300/open-sans-300.ttf') format('truetype'),
    url('../fonts/open-sans/300/open-sans-300.svg#OpenSans') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot');
    src: url('../fonts/open-sans/600-italic/open-sans-600-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.woff2') format('woff2'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.woff') format('woff'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.ttf') format('truetype'),
    url('../fonts/open-sans/600-italic/open-sans-600-italic.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/600/open-sans-600.eot');
    src: url('../fonts/open-sans/600/open-sans-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/600/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans/600/open-sans-600.woff') format('woff'),
    url('../fonts/open-sans/600/open-sans-600.ttf') format('truetype'),
    url('../fonts/open-sans/600/open-sans-600.svg#OpenSans') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot');
    src: url('../fonts/open-sans/400-italic/open-sans-400-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.woff2') format('woff2'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.woff') format('woff'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.ttf') format('truetype'),
    url('../fonts/open-sans/400-italic/open-sans-400-italic.svg#OpenSans') format('svg');
    font-weight: 400;
    font-style: italic;
}


* {
    box-sizing: border-box;
}
body{

    margin: 0;
    font-family: OpenSans, sans-serif;

}

.clearfix {

    overflow: auto;

}

.container {
    display: block;
    width: 1024px;
    margin: 0 auto;


}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.header {
    height: 60px;
    overflow: hidden;
}
.header-logo {
    display: block;
    float: left;

}
.header-logo > img {
    width: 150px;
    padding: 8px 0;
}


ul.header-nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.header-nav > li {
    display: inline-block;
}
ul.header-nav > li.header-nav-cta > a {
    background-color: #2fca2d;
    border-radius: 20px;
    padding: 11px 30px;
    color: #fff;
}
ul.header-nav > li > a {
    display: inline-block;
    padding: 19px 10px;
    color: #8f969d;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
ul.header-nav > li > a:hover {
    color: #5c6166;
}



.product{
    position: relative;

    background: url("../img/header-background.jpg") center no-repeat;
    height: 1000px;
    text-align: center;
}
.product-title {
    color: #374048;
    font-size: 79px;
    padding-top: 80px;


}
.product-description {
    color: #8a9095;
    font-size: 27px;
    font-weight: 300;
    padding: 0 130px;
    line-height: 44px;
}
.product-cta {
    display: inline-block;
    background-color: #2FCA2D;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 27px;
    padding: 20px 40px;
    border-radius: 30px;
    margin-top: 40px;
}
.product-cta:hover {
    background-color: #374048;
}
.product-image {
    position: absolute;
    height: 328px;
    width: 290px;
    bottom: 76px;
    left: 50%;
    margin: 0 calc(-290px / 2);

}
.section {

    width: 100%;
    padding: 60px 0;
    background-color: #fff;
}
.section-dark {
    background-color: #F8FBFD;
}
.section .section-title {
    font-size: 48px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #374048;
}
.section .section-description {
    width: 700px;
    margin: 0 auto 60px auto;
    padding-bottom: 60px;
    font-size: 20px;
    color: #969da3;
    text-align: center;
    line-height: 32px;
    position: relative;
    font-weight: 300;

}
.section .section-description::before{
    content: "";
}

.section .section-description::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    bottom: calc(30px - (4px/2));
    background-color: #eee;

    left: calc(50% - (40px / 2));
}

.product-section {

}
.product-section .product-section-watch {
    position: relative;
    background: url("../img/apple-watch-2.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 347px;
    height: 499px;
    margin: 0 auto;
    font-size: 15px;
}
.product-section .product-section-watch > .watch-tip {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    background-color: #0084ff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.product-section .product-section-watch > .watch-tip:hover::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    width: 40px;
    height: 40px;
    border: 3px solid #2fca2d;
    border-radius: 50%;
    background-color: transparent;

}
.product-section .product-section-watch > .watch-tip:nth-child(1) {
    top: 40px;
    right: 18px;
    left: initial;
}
.product-section .product-section-watch > .watch-tip:nth-child(2) {
    top: 140px;
    left: -10px;
}
.product-section .product-section-watch > .watch-tip:nth-child(3) {
    top: 250px;
    left: 225px;
}
.product-section .product-section-watch > .watch-tip:nth-child(4) {
    top: initial;
    bottom: 95px;
    left: 5px;
}
.hiw-section {

}
.hiw-steps {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hiw-steps > .hiw-step {
    float: left;
    width: 33.333333%;
    padding: 0 0px;
    position: relative;

}
.hiw-steps > .hiw-step > .hiw-step-image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.hiw-steps > .hiw-step > .hiw-step-title {
    color: #374048;
    font-size: 26px;
    margin-bottom: 10px;
}
.hiw-steps > .hiw-step > .hiw-step-description {
    color: #737c85;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.hiw-steps > .hiw-step > .hiw-step-arrow {
    display: block;
    position: absolute;
    top: 30px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-top: 1px  solid #a6afba;
    border-right: 1px solid #a6afba;
    transform: rotate(45deg);
}
.hiw-steps > .hiw-step > .hiw-step-arrow::before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #374048;
    transform: rotate(45deg);
}
.hiw-steps > .hiw-step > .hiw-step-arrow::after {

}
.benefits-section {}

.icon-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon-list > .icon-list-item {
    display: block;
    position: relative;
    width: 33.33333%;
    float: left;
}
.icon-list .icon-list-item-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 35px;
    line-height: 1;
    color: #0084ff;
}
.icon-list .icon-list-item-content {
    padding-left: 60px;
}
.icon-list .icon-list-item-title {
    color: #374048;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.icon-list .icon-list-item-description {
    color: #82898f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.watch-section {
    position: relative;
}
.watch-features-list > .watch-features-list-item {
    margin: 30px 0;
}

.watch-features-list:after {
    content: "";
    display: block;
    background: url("../img/apple-watch-3.png") center no-repeat;
    width: 283px;
    height: 510px;
    position: absolute;
    top: calc(50% - 510px / 2);
    left: calc(50% - 283px / 2);
}
.watch-features-list > .watch-features-list-item:nth-child(odd) {
    margin-right: 16.6666%;
}

.watch-features-list > .watch-features-list-item:nth-child(even) {
    margin-left: 16.6666%;
}

.benefits-list {}
.benefits-list > .benefits-item {}
.benefits-list > .benefits-item .benefits-item-content {}
.benefits-list > .benefits-item .benefits-item-icon {}
.benefits-list > .benefits-item .benefits-item-title { }
.benefits-list > .benefits-item .benefits-item-description {}


.section-products-collection {}
.products-collection-list {
    list-style: none;
    padding: 0;
    margin: 0 -10px;

}
.products-collection-item {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 10px;
}

.products-collection-item > .item-image img {
    width: 100%;
}
.products-collection-item > .item-title {
    color:#2FCA2D;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}
.products-collection-item > .item-description {
    color: #b4bcc3;
    font-size: 13px;
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 26px;
    font-weight: 300;
}
.products-collection-item > .item-price {
    color: #ff6622;
    font-size: 19px;
    line-height: 1;
    margin: 14px 0 19px;
    font-weight: 700;
}
.products-collection-item > .item-buttom {
    display: inline-block;
    border-radius: 30px;
    color: #b4bcc3;
    font-size: 12px;
    line-height: 26px;
    border: 1px solid #e1e4e7;
    padding: 2px 33px 3px;
    text-transform: uppercase;
    cursor: pointer;
}
.products-collection-item > .item-buttom:hover {
    background-color: #f5f8fb;
}

.the-watch {
    width: 100%;
}

.the-watch-item {

    padding-top: 60px;
    width: 50%;
    margin: 0;
    float: left;
}
.the-watch-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.the-watch-list > .the-watch-items {

    margin-top: 22px;

}
.the-watch-list > .the-watch-items > .the-watch-item-description {

    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #696f74;
    background: url('../img/check.png') center no-repeat;
    padding: 0 0 0 50px;
    background-position: left;

}
.the-watch-list > .the-watch-items > .the-watch-items-image-check{
    width: 32px;
    height: 32px;
    margin-right: 17px;
}
.the-watch-image {

    width: 50%;
    padding: 0 60px;
    text-align: right;
    margin: 0;
    float: right;

}
.block-the-watch {
    width: 50%;
    float: left;
}

.block-the-watch > .section-title {
    text-align: left;
}
.block-the-watch > .section-description {
    text-align: left;
    margin: 0;
    font-size: 20px;
    width: 100%;

}
.block-the-watch > .section-description::after {
    left: 0;

}
.four-blocks{
    padding: 0;

}

.two-blocks-top {
    overflow: auto;
    width: 100%;



}
.two-blocks-bottom {
    overflow: auto;
    width: 100%;

}
.two-blocks-top .two-blocks-image-top {


}
.image-top {
    width: 50%;
    float: left;

}
.two-blocks-item-text-top {
    vertical-align: middle;
    padding: 0 0 0 55px;
    transform: translateY(50%);
    width: 540px;
    height: 100%;
}
.two-blocks-item-text-bottom {
    vertical-align: middle;
    padding-right: 33px;
    transform: translateY(50%);
    width: 540px;
    height: 100%;
    float: right;
}
.two-blocks-top .two-blocks-item-top {
    width: 50%;
    float: right;

}
.blocks-title {
    color: #374048;

}
.blocks-description {
    color: #c0cad0;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;

}
.two-blocks-bottom .two-blocks-item-bottom {
    width: 50%;
    float: left;


}
.two-blocks-bottom .image-bottom {
    width: 50%;
    float: right;
}

.reviews-list {
    margin: 0;
    padding: 0;
    list-style: none;

}
.reviews-list > .reviews-item {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 15px;

}
.reviews-list > .reviews-item > .reviews-item-quote {
    margin-bottom: 20px;
}
.reviews-list > .reviews-item > .reviewer {
    opacity: 0.5;
}
.featured-on {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
}
.featured-on > .featured-on-list {
    list-style: none;



}
.featured-on > .featured-on-list > .featured-on-images {
    float: left;
    width: 16.66%;
    font-size: 50%;
    opacity: 0.33;

}

.faq-block {}
.faq-block > .faq-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.faq-block > .faq-list > .faq-items {
    width: 50%;
    float: left;
    margin-top: 35px;
    padding: 0 15px;
}
.faq-block > .faq-list > .faq-items > .faq-title {
    color: #374048;
    font-weight: 500;
    font-size: 20px;
}
.faq-block > .faq-list > .faq-items > .faq-description {
    color: #82898f;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}
.email {
    color: blue;
}
.email:hover {
    color: green;
}

.tech-section {}
.tech-block {
    position: relative;
}
.tech-block > .tech-list {
    list-style: none;
    margin: 0;
    padding: 0;


}
.tech-block > ul.tech-list > li.tech-item {
    padding: 35px 15px;
    width: 33.33%;
    float: left;
    border-top: 1px solid;
    border-color: #eee;
    min-height: 255px;


}
/*
.tech-block > .tech-list > .tech-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #eee;
    top: 0;

}
*/
.tech-block > ul.tech-list > li.tech-item > .tech-title {
    margin: 0 0 8px;
    padding: 0;
    color: #374048;
    font-size: 20px;
}
.tech-block > ul.tech-list > li.tech-item > ul.tech-description {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
}

.meet-the-team-section {}
.meet-the-team-section ul.team-photo-list {
    list-style: none;
    margin: 0;
    padding: 0;

}
.meet-the-team-section ul.team-photo-list > li.team-photo {
    float: left;
    width: 235px;
    text-align: center;
    background-color: #fff;
    margin: 0 10px;

}

.meet-the-team-section ul.team-photo-list > li.team-photos .team-photo-text > .team-photo-text-name {
    color: #374048;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
}
.meet-the-team-section ul.team-photo-list > li.team-photo > .team-photo-text > .team-photo-text-job {
    color: #82898f;
    font-size: 14px;
    font-weight: 300;
}


.timeline-block {
    position: relative;
    height: 100%;

}
.timeline-line {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #eee;
    left:calc(50% - (4px/2));
}
.row {
    width: 100%;
    margin-top: 40px;
    line-height: 11px;
    overflow: hidden;
}
.inner {
    text-transform: uppercase;
    position: relative;
    line-height: 37px;
    text-align: center;
    background: #dee0e2;
    color: #bfc2c5;
    border-radius: 5%;
    display: inline-block;
    left: calc(50% - 50px);
    width: 100px;
    overflow: hidden;
}
.circle {
    content: "";
    width: 24px;
    height: 24px;
    border: 6px solid;
    border-color: #dee0e2;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - (24px / 2));
    margin-top: 10px;
}
.left {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 45px;
    overflow: hidden;
}
.right {
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 45px;
    overflow: hidden;
}
.date-block {
    color: #dadce0;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    padding: 15px 0;


}
.content-block {
    background: #f5f8fa;
    padding: 15px 20px;
    border-radius: 5%;
    display: inline-block;
    max-width: 306px;

}

.content-block-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.content-block-description {
    font-size: 14px;
    font-weight: 300;
    color: #b7bbbf;
    line-height: 22px;

}

.section-mobile {
    background-color: black;
    width: 100%;
    position: relative;
}
.section-mobile-app::before {
    content: "";
    background: url("../img/mobile-ap-bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    opacity: 0.3;
}

.section-mobile-app .container {
    position: relative;
    padding-top: 135px;
}
.mobile-app-image {
    float: left;

}
.mobile-app-image > .mobile-image {
    display: block;
}

.mobile-app-for-watch {
    width: 50%;
    float: right;
    padding-left: 45px;

}

.mobile-app-for-watch > .mobile-app-text {}

.mobile-app-for-watch > .mobile-app-text > .mobile-app-tittle {
    color: #fff;
    font-size: 43px;
    font-weight: 600;
    margin-top: 69px;
}

.mobile-app-for-watch > .mobile-app-text > .mobile-app-description {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 30px;
}
.downloan-link-app {
    margin-right: 15px;
}
.email-address {
    margin: 0 140px;

}
.email-address > .email-address-block {
    position: relative;
    display: table;


}
.email-address-block > .email-address-input {
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    padding: 0 38px;
    background: #f8fbfd;
    border: 1px solid #e0e8ee;
    width: 650px;
    display: table-cell;

}

.email-address-block > .email-address-button {
    display: table-cell;
    line-height: 80px;
    width: 130px;
    background: #0084ff;
    padding: 0 30px;
    cursor: pointer;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}


.email-address-block > .email-address-button:hover {
    background: black;
    transition: all 300ms linear 0s;
}
.email-address-block > .email-address-button > .email-address-angle {
    vertical-align: middle;

    background: none;
    border: none;
}
.email-address > .no-spam {
    text-align: center;
    color: #c0cad0;
    font-size: 14px;
    font-weight: 300;
}
.email-address > .no-spam .no-spam-image {
    margin-right: 8px;
    vertical-align: middle;
}

.section-map {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;

}
.get-it-touch {
    position: relative;
    left: calc( 50% - (550px / 2));
    top: calc( 50% - (400px / 2));
    background: #fff;
    padding: 40px;
    width: 550px;
    height: 400px;
}
.contact-box-tittle {
    text-transform: uppercase;
    color: #374048;
    font-size: 27px;
    font-weight: 600;
    margin: 0;
}
.contact-box {
    list-style: none;
    padding: 0;
    margin-left: 0;
}
.contact-box > li {
    position: relative;
    padding-left: 40px;
    margin-top: 15px;
    display: block;
    color: #a5aeb3;
    line-height: 29px;
}
.contact-box > .location::before {
    content: "\f041";
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
}
.contact-box > .phone-namber::before {
    content: "\f095";
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
}
.contact-box > .email-get-it-touch::before {
    content: "\f0e0";
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
}
.contact-btn {
    margin-top: 12px;
    width: 100%;
    line-height: 60px;
    background: #0084ff;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.contact-btn:hover {
    background: black;
    transition: all 300ms linear 0s;
}